<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Infragistics.SamplesBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Infragistics.SamplesBrowser.Properties.Settings>
            <setting name="CurrentVersion" serializeAs="String">
                <value>23.1</value>
            </setting>
        </Infragistics.SamplesBrowser.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF4.v23.2" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-23.2.20232.157" newVersion="23.2.20232.157" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF4.Controls.Layouts.v23.2" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-23.2.20232.157" newVersion="23.2.20232.157" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF4.DataVisualization.v23.2" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-23.2.20232.157" newVersion="23.2.20232.157" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF4.Controls.Inputs.v23.2" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-23.2.20232.157" newVersion="23.2.20232.157" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
