<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Infragistics.SamplesBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Infragistics.SamplesBrowser.Properties.Settings>
            <setting name="CurrentVersion" serializeAs="String">
                <value>23.1</value>
            </setting>
        </Infragistics.SamplesBrowser.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF4.v23.2" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-23.2.20232.157" newVersion="23.2.20232.157"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.DataManager" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.DataVisualization" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.Controls.Charts.XamDataChart" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.DragDrop" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.Controls.Menus.XamDataTree" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.Olap" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.Olap.FlatData" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.Controls.Interactions.XamDialogWindow" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.Calculations.XamCalculationManager" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.DataPresenter" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.Documents.Excel" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.Controls.Schedules" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.Ribbon" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.Editors" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.Documents.Core" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.Undo" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.Documents.RichTextDocument" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.Controls.Menus.XamMenu" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.Controls.Editors.XamColorPicker" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.Controls.Editors.XamMaskedInput" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.Controls.Editors.XamCalendar" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.Controls.Editors.XamSlider" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-24.1.20241.39" newVersion="24.1.20241.39"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
