<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF.Charts.Olap.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.Charts.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.DataManager.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.DataTree.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.DataVisualization.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.DragDrop.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.Olap.FlatData.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.Olap.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.Trial" version="25.1.104" targetFramework="net47" />
</packages>