<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="Infragistics.WPF" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.ColorPicker" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.Controls.Editors.XamMaskedInput" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.Documents.Core" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.Editors" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.Excel" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.Menus" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.Ribbon" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.RichTextDocument" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.RichTextEditor" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.Slider" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.Spreadsheet" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.Themes.Office2013" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.Undo" version="18.1.82" targetFramework="net45" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net45" />
  <package id="Prism.Unity" version="6.3.0" targetFramework="net45" />
  <package id="Prism.Wpf" version="6.3.0" targetFramework="net45" />
  <package id="Unity" version="4.0.1" targetFramework="net45" />
</packages>