<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
	<configSections>
		<section name="frameworkRepository" type="Infragistics.Web.SampleBrowser.Core.Framework.Configuration.FrameworkRepositorySection, Infragistics.Web.SampleBrowser.Core.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=0f48bf11002100e0" allowDefinition="Everywhere" requirePermission="false" />
		<section name="cmsRepository" type="Infragistics.Web.SampleBrowser.Core.Framework.Configuration.CmsRepositorySection, Infragistics.Web.SampleBrowser.Core.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=0f48bf11002100e0" allowDefinition="Everywhere" requirePermission="false" />
		<section name="resourcesRepository" type="Infragistics.Web.SampleBrowser.Core.Framework.Configuration.ResourcesRepositorySection, Infragistics.Web.SampleBrowser.Core.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=0f48bf11002100e0" allowDefinition="Everywhere" requirePermission="false"/>
	</configSections>
	<frameworkRepository>
		<repository name="FrameworkRepository" type="Infragistics.Web.Core.Framework.Mvc.Repository.FrameworkRepository, Infragistics.Web.SampleBrowser.Core.Framework.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=0f48bf11002100e0" initilizeData="~/App_Data/LocalStorage.xml" />
	</frameworkRepository>
	<cmsRepository>
		<repository name="CmsRepository" type="Infragistics.Web.SampleBrowser.Core.Framework.Repository.CmsRepository, Infragistics.Web.SampleBrowser.Core.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=0f48bf11002100e0" initilizeData="" />
	</cmsRepository>
	<resourcesRepository>
		<repository name="ResourcesRepository" type="Infragistics.Web.SampleBrowser.Core.Framework.Repository.ResourcesRepository, Infragistics.Web.SampleBrowser.Core.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=0f48bf11002100e0" initilizeData="" />
	</resourcesRepository>	
	<appSettings>
		<add key="ApplicationSamplesOverviewPageUrl" value="/samplesbrowser/application-samples" />
		<add key="TopNavUrlPattern" value="/samplesbrowser/{0}" />
		<add key="ApplicationParentRoutePath" value="/products" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="ProductFamilyName" value="silverlight/#" />
    <add key="ProductLogo" value="SamplesCommon/sl/silverlight-secondary-navigation-logo.png" />
		<add key="ApplicationMode" value="offline" />
		<!-- 1033 for US and 1041 for JP-->
		<add key="LanguageID" value="1033" />
		<add key="ApplicationVirtualPath" value="/samplesbrowser" />
		<add key="CmsImagesFolder" value="/uploadedimages/content/products/" />
		<add key="LocalImagesFolder" value="/i/" />
		<add key="SamplesVirtualPath" value="VirtualSamples" />
		<add key="SampleBrowserResourceProviderCacheSyncTime" value="10000" />
		<add key="StorageDataPath" value="~/app_data/storage/" />
		<add key="BaseMdbDataPath" value="/mdb/" />
		<add key="BaseXmlDataPath" value="/xml/" />
		<add key="BaseMdbConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Persist Security Info=True" />
		<add key="BaseSqlConnectionString" value="Data Source=.\SQLEXPRESS;AttachDbFilename={0};Integrated Security=True;User Instance=True" />
		<add key="CodeProviderAssembly" value="Infragistics.Web.SampleBrowser.Core.Framework" />
		<add key="CodeProviderType" value="OfflineCodeProvider" />
		<add key="fileUploadPath" value="~/Temp/Uploads" />
		<add key="maxFileSizeLimit" value="1000000" />
		<add key="ShowErrors" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
                <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
		</compilation>

		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>

		<httpHandlers>
			<add path="*.html" verb="GET,POST" type="System.Web.StaticFileHandler" />
			<add verb="GET" path="*.ogg" type="System.Web.StaticFileHandler" />
		</httpHandlers>		
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
	</system.web>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="500000000">
				</jsonSerialization>
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />		
		<staticContent>
      <!-- Remove the extensions (in case they were already defined in a parent) -->
      <!--
      <remove fileExtension=".xaml" />
      <remove fileExtension=".xap" />
      <remove fileExtension=".xbap" />
      -->
      <remove fileExtension=".shp" />
      <remove fileExtension=".shx" />
      <remove fileExtension=".dbf" />
      <remove fileExtension=".ogg" />
    
      <!-- Add the file extensions -->
      <!--
      <mimeMap fileExtension=".xaml" mimeType="application/xaml+xml" />
      <mimeMap fileExtension=".xap" mimeType="application/x-silverlight-app" />
      <mimeMap fileExtension=".xbap" mimeType="application/x-ms-xbap" />
      -->
      <mimeMap fileExtension=".shp" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".shx" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".dbf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".ogg" mimeType="audio/ogg" />

    </staticContent>
	</system.webServer>

	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
	</system.serviceModel>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>

