<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF.Calendar.Trial" version="23.2.233" targetFramework="net40-client" />
  <package id="Infragistics.WPF.ColorPicker.Trial" version="23.2.233" targetFramework="net40-client" />
  <package id="Infragistics.WPF.Controls.Grids.XamGrid.Trial" version="23.2.233" targetFramework="net40-client" />
  <package id="Infragistics.WPF.DataGrids.Trial" version="23.2.233" targetFramework="net40-client" />
  <package id="Infragistics.WPF.DataManager.Trial" version="23.2.233" targetFramework="net40-client" />
  <package id="Infragistics.WPF.Editors.Trial" version="23.2.233" targetFramework="net40-client" />
  <package id="Infragistics.WPF.Gantt.Trial" version="23.2.233" targetFramework="net40-client" />
  <package id="Infragistics.WPF.Menus.Trial" version="23.2.233" targetFramework="net40-client" />
  <package id="Infragistics.WPF.Schedules.Trial" version="23.2.233" targetFramework="net40-client" />
  <package id="Infragistics.WPF.Slider.Trial" version="23.2.233" targetFramework="net40-client" />
  <package id="Infragistics.WPF.Trial" version="23.2.233" targetFramework="net40-client" />
</packages>