<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF.Calendar" version="24.1.20" targetFramework="net40-client" />
  <package id="Infragistics.WPF.ColorPicker" version="24.1.20" targetFramework="net40-client" />
  <package id="Infragistics.WPF.Controls.Grids.XamGrid" version="24.1.20" targetFramework="net40-client" />
  <package id="Infragistics.WPF.DataGrids" version="24.1.20" targetFramework="net40-client" />
  <package id="Infragistics.WPF.DataManager" version="24.1.20" targetFramework="net40-client" />
  <package id="Infragistics.WPF.Editors" version="24.1.20" targetFramework="net40-client" />
  <package id="Infragistics.WPF.Gantt" version="24.1.20" targetFramework="net40-client" />
  <package id="Infragistics.WPF.Menus" version="24.1.20" targetFramework="net40-client" />
  <package id="Infragistics.WPF.Schedules" version="24.1.20" targetFramework="net40-client" />
  <package id="Infragistics.WPF.Slider" version="24.1.20" targetFramework="net40-client" />
  <package id="Infragistics.WPF" version="24.1.20" targetFramework="net40-client" />
</packages>