<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="Infragistics.WPF.Calendar.Trial" version="23.2.233" targetFramework="net462" />
  <package id="Infragistics.WPF.DataGrids.Trial" version="23.2.233" targetFramework="net462" />
  <package id="Infragistics.WPF.DataManager.Trial" version="23.2.233" targetFramework="net462" />
  <package id="Infragistics.WPF.DataTree.Trial" version="23.2.233" targetFramework="net462" />
  <package id="Infragistics.WPF.Documents.Core.Trial" version="23.2.233" targetFramework="net462" />
  <package id="Infragistics.WPF.DragDrop.Trial" version="23.2.233" targetFramework="net462" />
  <package id="Infragistics.WPF.Editors.Trial" version="23.2.233" targetFramework="net462" />
  <package id="Infragistics.WPF.Menus.Trial" version="23.2.233" targetFramework="net462" />
  <package id="Infragistics.WPF.OutlookBar.Trial" version="23.2.233" targetFramework="net462" />
  <package id="Infragistics.WPF.Ribbon.Trial" version="23.2.233" targetFramework="net462" />
  <package id="Infragistics.WPF.RichTextDocument.Rtf.Trial" version="23.2.233" targetFramework="net462" />
  <package id="Infragistics.WPF.RichTextDocument.Trial" version="23.2.233" targetFramework="net462" />
  <package id="Infragistics.WPF.RichTextEditor.Trial" version="23.2.233" targetFramework="net462" />
  <package id="Infragistics.WPF.Schedules.Trial" version="23.2.233" targetFramework="net462" />
  <package id="Infragistics.WPF.Trial" version="23.2.233" targetFramework="net462" />
  <package id="Infragistics.WPF.Undo.Trial" version="23.2.233" targetFramework="net462" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net45" />
  <package id="Prism.Wpf" version="6.3.0" targetFramework="net45" />
  <package id="Unity" version="4.0.1" targetFramework="net45" />
</packages>