html, body, div, dl, dt, dd, ul, pre, form, label, fieldset, input, blockquote, th, td { margin:0; padding:0 }  
table { border-collapse:collapse; border-spacing:0 }  
fieldset, img { border:0 }  
ul { list-style:none }

input[type="text"], input[type="password"], select, textarea
{
	width: auto;
	font-size: 100%;
	height: auto;
	line-height: inherit;
	margin:0;
	padding: 0;
	outline: 0;
}

/* Top Navigation */
.topNavContainer
{
	height: auto;
	width: 100%;
	background-color: transparent;
	overflow: hidden;
	z-index: 100;
	box-shadow: 0 0.5em 1em #BBB;
	-moz-box-shadow: 0 0.5em 1em #BBB;
	-webkit-box-shadow: 0 0.5em 1em #BBB;
	margin: 0px 5px 0px 5px;
}
.topNavControlsContainer
{
	height: 100%;
	background-color: #2cbdf9;
}
.topNavControlsContainerInnerDiv
{
	overflow: hidden;
	border-top: 1px solid white;
	width: 1024px;
}
.topNavHeaderContainer
{
	background-color: #2CBDF9;
}
.topNavAppSamplesContainer
{
	background-color: #235f75;
	width: 232px;
	float: left;
	height: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
	border-left: 2px solid #FFF;
}
.topNavAppSamplesContainer > h3
{
	margin: 50px 0 5px 35px !important;
	font-size: 1em !important;
	text-transform: uppercase !important;
	font-weight: bold !important;
	color: #FFF !important;
}
.topNavAppSamplesContainer > h3 > a
{
	color: #FFF !important;
	text-decoration: none !important;
	outline: 0 !important;
}
.topNavMinimizeAppDiv > h3
{
	margin: 4px 0 0 35px !important;
	font-size: 1em !important;
	text-transform: uppercase !important;
	font-weight: normal !important;
	color: #FFF !important;
}
.topNavAppSamplesContainer > div
{
	margin: 0 0 0 35px !important;
}
.topNavAppSamplesContainer > div > ul
{
	list-style-type: none;
}
.topNavAppSamplesContainer > div > ul > li
{
	margin-bottom: 5px;
}
.topNavAppSamplesContainer > div > ul > li > a
{
	text-transform: none !important;
	line-height: normal !important;
	text-decoration: none !important;
	outline: 0 !important;
	font-weight: normal !important;
	color: #FFF !important;
}
.topNavMainContainer
{
	overflow: hidden;
	width: 629px;
	height: 100%;
	float: left;
	margin: 0 10px 0 10px;
}
.topNavMainContainer.extended
{
	width: 906px;
	margin: 0 0px 0 10px;
}
.topNavMainContainer > h4
{
	text-transform: uppercase;
	color: #FFF;
	margin-bottom: 5px;
	display: none;
}
.topNavControlsContainer > #_topNavTitle
{
	width: auto;
	position: relative;
	overflow: auto;
	padding: 10px 0px 5px 63px;
}
.topNavControlsContainer > #_topNavTitle > h2
{
	font-size: 1.5em;
	text-transform: capitalize;
	font-weight: normal;
	color: #FFF;
	width: auto;
	float: left;
	padding: 0 !important;
	margin: 0 !important;
	border: none;
}
.topNavMainContainer > #_topNavPagingIndicator
{
	text-align: right;
	padding-bottom: 10px;
}
.topNavMainContainer > #_topNavPagingIndicator > div > a
{
	margin-left: 5px;
	cursor: pointer;
	color: #FFF;
	padding: 2px 6px;
	font-weight: bold;
	text-decoration: none;
}
.topNavMainContainer > #_topNavPagingIndicator > div > a.selected
{
	color: #FFF;
	background: #239dd1;
}
.topNavMainGroups
{
	overflow: auto;
	width: 20000px;
	min-height: 123px;
}
.topNavMainGroupContainer
{
	float: left;
	padding-right: 38px;
}
.topNavMainGroupContainer.appsamples
{
	border-left: 1px solid #FFF;
	padding-left: 38px;
}
.topNavMainGroups .last
{
	padding-right: 0;
}
.topNavMainGroupContainer > h5
{
	text-transform: uppercase;
	font-weight: bold;
	color: #FFF;
	padding: 0 2px 0 0;
}
.topNavMainGroupContainer > ul
{
	list-style-type: none;
}
.topNavMainGroupContainer > ul .selected > a
{
	background-color: #239dd1;
	color: #fff;
}
.topNavMainGroupContainer > ul .selected > a:hover
{
	color: #FFF;
}
.topNavMainGroupContainer > ul > li
{
	padding-bottom: 2px;
}
.topNavMainGroupContainer > ul > li > a
{
	color: #FFF;
	text-decoration: none;
	outline: 0;
	padding: 2px 5px 2px 3px;
}
.topNavMainGroupContainer > ul > li > a:hover
{
	color: #007faf;
}
.topNavPrevLink
{
	display: block;
	width: 30px;
	text-decoration: none;
	float: left;
	height: 60px;
	margin-top: 50px;
	outline: 0;
	line-height: 60px;
	background: #FFF;
	margin-right: 24px;
}
.topNavPrevLink.disabledButton
{
	cursor: default;
	outline: 0;
	-moz-opacity: .40;
	filter: alpha(opacity=40);
	opacity: .40;
}
.topNavNextLink
{
	display: block;
	width: 30px;
	text-decoration: none;
	float: left;
	height: 60px;
	margin-top: 50px;
	outline: 0;
	line-height: 60px;
	background: #FFF;
	margin-left: 24px;
}
.leftArrrowImg
{
	display: block;
	width: 0px;
	height: 0px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid #2CBDF9;
	margin-top: 24px;
	margin-left: 10px;
}
.rightArrrowImg
{
	display: block;
	width: 0px;
	height: 0px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-left: 7px solid #2CBDF9;
	margin-top: 24px;
	margin-left: 12px;
}
.topNavNextLink.disabledButton
{
	cursor: default;
	outline: 0;
	-moz-opacity: .40;
	filter: alpha(opacity=40);
	opacity: .40;
}
.topNavMinimizeDivIcon
{
	float: left;
	height: 33px;
}
.topNavMinimizeMainDiv
{
	background-color: #2cbdf9;
	min-height: 44px;
	overflow: auto;
}
div.topNavMinimizeMainDiv > h2
{
	font-size: 1.5em;
	margin: 10px 0px 7px 64px;
	font-weight: normal;
	text-transform: capitalize;
	color: #FFF;
}
.topNavMinimizeAppDiv
{
	float: left;
	width: 232px;
	background-color: #235f75;
	height: 30px;
	border-left: 2px solid #FFF;
}
.topNavAnimDiv
{
	width: 629px;
	float: left;
}
.topNavAnimDiv.extended
{
	width: 906px;
}
.topNavMiddleLayerDiv
{
	height: 12px;
	width: 100%;
}
.topNavMiddleLayerLeftDiv
{
	height: 100%;
	width: 790px;
	float: left;
	background-color: #2cbdf9;
}
.topNavMiddleLayerRightDiv
{
	height: 100%;
	float: left;
	width: 232px;
	background-color: #235f75;
	border-left: 2px solid #FFF;
}
div.topNavMinimizeDivIcon > a
{
	text-decoration: none;
	outline: 0;
}
.divf
{
	width: 42px;
	height: 18px;
	margin: 0 auto;
	background: url('/samplesbrowser/styles/images/arrows-box.png');
}
.divf > a#minimize
{
	display: block;
	height: 100%;
	width: 100%;
	color: #FFF;
	line-height: 18px;
	text-align: center;
	text-decoration: none;
	outline: 0;
}
#minimize > span.icon.max
{
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	border-top: 7px solid #FFF;
	display: inline-block;
	margin-bottom: 5px;
}
#minimize > span.icon.max:hover
{
	border-top-color: #007faf;
}
#minimize > span.icon.min
{
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	border-bottom: 7px solid #FFF;
	display: inline-block;
	margin-bottom: 5px;
}
#minimize > span.icon.min:hover
{
	border-bottom-color: #007faf;
}
#_directlink
{
	bottom: 5px;
	position: absolute;
	right: 0;
	color: #FFF;
	cursor: pointer;
	text-decoration: none;
}
.topNavControlsContainerInnerDivLeft
{
	float: left;
	overflow: auto;
	width: 757px;
	min-height: 180px;
	padding-top: 10px;
}
.topNavControlsContainerInnerDivLeft.extended
{
	width: auto;
}
.topNavControlsContainerInnerDivRight
{
	width: 266px;
	min-height: 180px;
	background: #236d8c;
	float: right;
	border-left: 1px solid white;
	padding-top: 10px;
}
.topNavMainAppSamplesContainer > h4
{
	color: #FFF;
	text-transform: uppercase;
	margin-left: 20px;
}
.topNavMainAppSamplesContainer > ul
{
	list-style: none;
	list-style-type: none;
	margin: 5px 0px 0px 20px;
	overflow: auto;
}
.topNavMainAppSamplesContainer a
{
	color: #FFF;
}
.topNavMainAppSamplesContainer a:hover
{
	color: #6dccf4;
}
.topNavMainAppSamplesContainer > ul > li
{
	float: left;
	width: 116px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#minimize:hover > span.icon.min
{
	border-bottom-color: #007faf;
}
#minimize:hover > span.icon.max
{
	border-top-color: #007faf;
}
.topNavNextLink:hover > div
{
	border-left-color: #007faf;
}
.topNavPrevLink:hover > div
{
	border-right-color: #007faf;
}
.topNavNextLink.disabledButton:hover > div
{
	border-left-color: #2CBDF9;
}
.topNavPrevLink.disabledButton:hover > div
{
	border-right-color: #2CBDF9;
}
#_topNavPagingIndicator a:hover
{
	color: #ace3fb !important;
}

/* End Top Navigation */
#mainSampleContainer
{
	padding: 0 15px;
}

#sampleContainer
{
	margin: 0px;
	height: auto;
	overflow: hidden;
	padding: 2px;
	outline: 0;
}

#sampleContainer td
{
	vertical-align: middle;	
}

/* Left Navigation Menu */
.cleanUL{list-style-type: none;}ul.leftNavMenu{width:250px;}ul.leftNavMenu *{font-size:inherit;}ul.leftNavMenu ul{margin-bottom: 0;}ul.leftNavMenu a{font-family:Arial,Tahoma,Helvetica,Verdana,sans-serif!important;}ul.leftNavMenu>li{line-height:40px;border-top:1px solid #FFF;background: url(/samplesbrowser/styles/images/SB/white_arrow.png) #b2b2b2 13px 15px no-repeat;}ul.leftNavMenu.cleanUL>li>a{display:block;text-transform: uppercase;text-decoration: none;outline:0;cursor: pointer;}
ul.leftNavMenu.cleanUL>li:hover{background-color:#c6c6c6}
ul.leftNavMenu.cleanUL>li.selected:hover{background-color:#FFF}
ul.leftNavMenu.cleanUL>li>a>h5{color:#FFF;margin-left:30px;line-height:40px;}
ul.leftNavMenu>li.selected{background: url(/samplesbrowser/styles/images/SB/grey_arrow.png) #FFF 10px 18px no-repeat;}
ul.leftNavMenu>li.selected>a>h5{color: Gray!important;}
ul.leftNavLinks>li{padding-left:43px!important;text-transform: none;text-decoration: none;outline:0;list-style-type: none;overflow: hidden;white-space: nowrap;}
ul.leftNavLinks>li.NEW_1033{background-image: url(/samplesbrowser/styles/images/sb/new.png);background-repeat: no-repeat;background-position:0 3px;}ul.leftNavLinks>li.UPD_1033{background-image: url(/samplesbrowser/styles/images/sb/updated.png);background-repeat: no-repeat;background-position:0 3px;}ul.leftNavLinks>li.CTP_1033{background-image: url(/samplesbrowser/styles/images/sb/ctp.png);background-repeat: no-repeat;background-position:0 3px;}ul.leftNavLinks>li.NEW_1041{background-image: url(/samplesbrowser/styles/images/sb/new.png);background-repeat: no-repeat;background-position:0 3px;}ul.leftNavLinks>li.UPD_1041{background-image: url(/samplesbrowser/styles/images/sb/updated.png);background-repeat: no-repeat;background-position:0 3px;}ul.leftNavLinks>li.CTP_1041{background-image: url(/samplesbrowser/styles/images/sb/ctp.png);background-repeat: no-repeat;background-position:0 3px;}ul.leftNavLinks>li.selected>a{color:#FFF;background-color:#3ec2f9!important;}ul.leftNavLinks>li>a{text-transform: none;text-decoration: none;outline:0;font-size: .8em;line-height:25px!important;vertical-align: middle;}#leftNavMenuTabs{background: url(/assets/images/divider_right_border.png) repeat-y right #FFF!important;color: Gray;text-transform: uppercase;text-decoration: none;outline:0;}#leftNavMenuTabs>ul.ui-tabs-nav>li>a{text-transform: none!important;font-size: .8em!important;text-shadow:none;}#leftNavMenuTabs>ul.ui-tabs-nav>li{height:30px!important;line-height:1.6!important;}#leftNavMenuTabs>div{background: url(/assets/images/divider_right_border.png) repeat-y right #FFF;}.leftMenuPanel{background: none repeat scroll 0 0 #F2F2F2 !important;}.leftMenuPanel>div{padding-top:10px;padding-bottom:10px;background: url(/assets/images/divider_right_border.png) repeat-y right #F2F2F2;}.leftMenuPanel>ul{list-style-type: none!important;padding-left:30px!important;}.leftMenuPanel>ul>li{line-height: normal!important;margin:3px 0!important;}.leftMenuPanel a{color:#5b5b5b;text-transform: none!important;text-decoration: none!important;font-size:12px!important;line-height:1.2em !important;padding:5px 0 5px 2px !important;display:block;}ul.leftNavMenu .ui-tabs{position: relative!important;padding:0!important;zoom:1!important;}ul.leftNavMenu .ui-tabs .ui-tabs-nav{background: url(/assets/images/divider_right_border.png) repeat-y right #FFF!important;border-bottom:1px solid #C5C5C5;overflow: hidden!important;padding-left:15px!important;}.ui-tabs .ui-tabs-nav{margin:0!important;padding:0!important;}ul.leftNavMenu .ui-tabs .ui-tabs-nav li{background:none;text-shadow:none;list-style: none!important;float: left!important;position: relative!important;top:1px!important;margin:0 .2em 1px 0!important;border-bottom:0!important;padding:0!important;white-space: nowrap!important;}ul.leftNavMenu .ui-tabs .ui-tabs-nav li a{float: left!important;padding: .5em .6em!important;text-decoration: none!important;}ul.leftNavMenu .ui-tabs .ui-tabs-nav li.ui-tabs-selected{margin-bottom:0!important;padding-bottom:1px!important;background:none;text-shadow:none;}ul.leftNavMenu .ui-tabs .ui-tabs-nav li.ui-tabs-selected a,ul.leftNavMenu .ui-tabs .ui-tabs-nav li.ui-state-disabled a,ul.leftNavMenu .ui-tabs .ui-tabs-nav li.ui-state-processing a{cursor: text!important;}ul.leftNavMenu .ui-tabs .ui-tabs-nav li a,ul.leftNavMenu .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a{cursor: pointer!important;}ul.leftNavMenu .ui-tabs .ui-tabs-panel{display:block!important;border-width:0!important;padding:0!important;background: none!important;}ul.leftNavMenu .ui-tabs .ui-tabs-hide{display: none!important;}ul.leftNavMenu .ui-corner-all{-webkit-border-radius:0!important;-moz-border-radius:0!important;border-radius:0!important;}ul.leftNavMenu .ui-corner-top{-webkit-border-radius:0!important;-moz-border-radius:0!important;border-radius:0!important;}ul.leftNavMenu .ui-icon{background-image: none!important;height:0!important;line-height:0!important;width:0!important;}ul.leftNavMenu .ui-widget{font-family: Verdana,Arial,sans-serif;font-size:1.1em;}ul.leftNavMenu .ui-widget .ui-widget{font-size:1em;}ul.leftNavMenu .ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family: Verdana,Arial,sans-serif;font-size:1em;}ul.leftNavMenu .ui-widget-content{border:0 solid #aaa;}
ul.leftNavMenu .ui-widget-content a{color:#5b5b5b;}
ul.leftNavMenu .ui-widget-content li>a:hover{color:#000} 
ul.leftNavMenu .ui-widget-content li.selected>a:hover{color:#FFF}
ul.leftNavMenu .ui-widget-header{border:1px solid #aaa;background:#3ec2f9;color:#222;font-weight:bold;}ul.leftNavMenu .ui-widget-header a{color:#222;}ul.leftNavMenu .ui-helper-hidden{display: none;}ul.leftNavMenu .ui-helper-hidden-accessible{position:absolute;left: -99999999px;}ul.leftNavMenu .ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration: none;font-size:100%;list-style: none;}ul.leftNavMenu .ui-helper-clearfix:after{content: ".";display:block;height:0;clear:both;visibility: hidden;}**/.ui-helper-zfix{width:100%!important;height:100%!important;top:0!important;left:0!important;position:absolute!important;opacity:0!important;filter:Alpha(Opacity=0)!important;}ul.leftNavMenu .ui-state-default,ul.leftNavMenu .ui-widget-content .ui-state-default,ul.leftNavMenu .ui-widget-header .ui-state-default{border:0 solid #d3d3d3!important;font-weight: normal!important;color:#5b5b5b!important;}ul.leftNavMenu .ui-state-default a,ul.leftNavMenu .ui-state-default a:link,ul.leftNavMenu .ui-state-default a:visited{color:#5b5b5b!important;text-decoration: none!important;}ul.leftNavMenu .ui-state-hover,ul.leftNavMenu .ui-widget-content .ui-state-hover,ul.leftNavMenu .ui-widget-header .ui-state-hover,ul.leftNavMenu .ui-state-focus,ul.leftNavMenu .ui-widget-content .ui-state-focus,ul.leftNavMenu .ui-widget-header .ui-state-focus{border:0 solid #999!important;font-weight: normal!important;color:#5b5b5b;}ul.leftNavMenu .ui-state-hover a,ul.leftNavMenu .ui-state-hover a:hover{color:#212121!important;text-decoration: none!important;}ul.leftNavMenu .ui-state-active,ul.leftNavMenu .ui-widget-content .ui-state-active,ul.leftNavMenu .ui-widget-header .ui-state-active{border:0 solid #aaa!important;background:#F2F2F2!important;font-weight: normal!important;color:#5b5b5b!important;}ul.leftNavMenu .ui-state-active a,ul.leftNavMenu .ui-state-active a:link,ul.leftNavMenu .ui-state-active a:visited{color:#5b5b5b!important;text-decoration: none!important;}ul.leftNavMenu .ui-widget :active{outline: none!important;}ul.leftNavMenu .ui-accordion{width:100%!important;}ul.leftNavMenu .ui-accordion .ui-accordion-header{cursor: pointer!important;position: relative!important;zoom:1!important;background: url(/assets/images/divider_right_border.png) repeat-y right #FFF!important;line-height:30px!important;border-bottom:1px solid #e5e5e5!important;text-decoration: none!important;outline:0!important;}ul.leftNavMenu div>h3.ui-accordion-header.ui-state-active{cursor: pointer!important;position: relative!important;zoom:1!important;background: url(/assets/images/divider_right_border.png) repeat-y right #F2F2F2!important;border-bottom:1px solid transparent!important;}ul.leftNavMenu div>h3.ui-accordion-header.ui-state-active>a{cursor:default;}ul.leftNavMenu .ui-accordion h3.last{border-bottom:0!important;}ul.leftNavMenu .ui-accordion .ui-accordion-li-fix{display: inline!important;}ul.leftNavMenu .ui-accordion .ui-accordion-header-active{border-bottom:0!important;}ul.leftNavMenu .ui-accordion .ui-accordion-header a{font-weight: normal!important;display:block!important;font-size: .9em!important;padding: .5em .5em .5em .7em!important;text-transform:capitalize!important;text-decoration: none!important;outline:0!important;}ul.leftNavMenu .ui-accordion-icons .ui-accordion-header a{text-shadow: none!important;padding-left:2em!important;}ul.leftNavMenu .ui-icon-triangle-1-s{background-position: -64px -16px!important;}ul.leftNavMenu .ui-icon-triangle-1-e{background-position: -32px -16px!important;}ul.leftNavMenu .ui-icon{background-image: url(/samplesbrowser/styles/images/jquery/ui-icons_222222_256x240.png)!important;height:16px!important;width:16px!important;}ul.leftNavMenu .ui-accordion .ui-accordion-header .ui-icon{left: .5em!important;margin-top: -8px!important;position:absolute!important;top:50%!important;}ul.leftNavMenu .ui-accordion .ui-accordion-content{padding:0!important;border-top:0!important;margin-top: -10px!important;position: relative!important;top:1px!important;margin-bottom:2px!important;overflow: hidden;display: none!important;zoom:1!important;background: url(/assets/images/divider_right_border.png) repeat-y right #F2F2F2!important;}ul.leftNavMenu .ui-accordion .ui-accordion-content-active{display:block!important;border-bottom:1px solid #e5e5e5!important;}ul.leftNavMenu .ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{text-shadow: none!important;}ul.leftNavLinks>li{line-height: normal!important;height:auto!important;width:206px;}ul.leftNavLinks>li>a{text-transform: none;text-decoration: none;height:auto!important;white-space: normal!important;line-height:1.2em!important;padding:3px 10px 3px 4px!important;display:block;}ul.leftNavMenu a>h5{background: url(/assets/images/divider_right_border.png) repeat-y right;}.columnOptions,.columnOptions fieldset{border-color:#DCDCDC!important;padding:5px 0 5px 10px;}
	
/* Scroll Bar */
ul.leftNavMenu .scroll-pane{max-height:300px;position:relative;overflow:hidden;margin:5px 0}ul.leftNavMenu .scroll-content{position:absolute;top:0;left:0;float:left}ul.leftNavMenu .slider-wrap{float:right;width:12px;background:url('/samplesbrowser/styles/images/SB/scrl_bg.png') transparent center repeat-y!important;padding:2px 0}ul.leftNavMenu .slider-vertical{position:relative;height:100%; background:none;}ul.leftNavMenu .ui-slider-handle{width:10px;height:10px;margin:0 auto;background:#acacac!important;display:block!important;position:absolute!important;outline:0!important;left:1px}ul.leftNavMenu .ui-slider-handle.ui-state-active{background:#acacac!important;}ul.leftNavMenu .ui-slider-range{position:absolute;width:100%;background:none!important;border:none!important}.scroll-track{height:10px;width:10px;background:black}.scroll-handle{border:1px solid black;height:10px;width:10px;background:#5b207b;cursor:pointer}
/* End Left Navigation Menu */

/* Additional Resources */
#_aResourcesPlaceHolder{margin-top:10px;}
.additionalResourcesMainContainer{height:auto;overflow:auto;background-color:#FFF}
.additionalResourcesMainContainer h2 {margin-bottom: 15px;
padding-bottom: 7px;}
.leftSection{float:left;width:774px}div.additionalResourcesMainContainer>.leftSection>div.header{height:55px;margin:10px 30px 0 30px}div.additionalResourcesMainContainer>.leftSection>div.header>h5{font-weight:normal;}div.additionalResourcesMainContainer>.leftSection>div.header>h1{font-weight:normal;border-bottom:1px solid #C4C4C4;padding-bottom:10px}.additionalResourcesRow{width:auto;overflow:auto;margin:30px}.additionalResourcesCell{float:left;margin-right:40px;overflow:auto;width:330px}.lastCell{margin-right:0}.cellIcon{float:left;margin-right:15px;margin-top:10px}.cellContainer{float:left;width:250px}div.cellContainer>h5{font-weight:normal;font-size:1.1em;color:#000}div.cellContainer>p{padding-top:5px;margin:0px;}div.cellContainer>a{clear:left;outline:0;text-decoration:none}.related_links{float:left;width:250px !important;}.related_links ul{padding-top:5px}.related_links ul>li{list-style-type:none;padding:5px 20px}.related_links ul>li>a{text-decoration:none;}

/* End Additional Resources */

/* Code Viewer */

#mainCodeViewerContainer
{
	margin-top: 25px;
}

#codeViewerContainer
{
}

#codeViewerContainer > .header
{
	height: 60px;
	width: 100%;
	background-color: #3ec2f9;
	overflow: auto;
}

#codeViewerContainer > .header > h4
{
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	color: #FFF;
	line-height: 60px;
	margin-left: 30px;
	margin-right: 20px;
	float: left;
}

#codeViewerContainer > .header > div.dd-container
{
	float: right;
}

#codeViewerContainer .toolbar, #fancyCodeViewer .toolbar
{
	background: url('/samplesbrowser/styles/images/code_tool_bar.png');
	background-position: -0px -124px;
	height: 31px;
	color: #fff;
	background-color: #656565;
	width: 100%;
	overflow: hidden;
}

#codeViewerContainer .toolbar span, #fancyCodeViewer .toolbar span
{
	font-size: 12px;
}

#codeViewerContainer div.toolbar > div.tb-item, #fancyCodeViewer div.toolbar > div.tb-item
{
	background: url('/samplesbrowser/styles/images/code_tool_bar.png');
	background-position: -0px -0px;
	height: 31px;
	line-height: 31px;
	color: Gray;
	float: left;
	margin-right: 2px;
}

#codeViewerContainer .toolbar-ddl, #fancyCodeViewer .toolbar-ddl
{
	padding-left: 15px;
	padding-right: 15px;
}

#codeViewerContainer .toolbar-ddl > span, #fancyCodeViewer .toolbar-ddl > span
{
	float: left;
}

#codeViewerContainer .toolbar-ddl > div, #fancyCodeViewer .toolbar-ddl > div
{
	float: left;
	margin: 5px 0px 0px 5px;
}

#codeViewerContainer div.toolbar-code-lines, #fancyCodeViewer div.toolbar-code-lines
{
	height: 31px;
	line-height: 31px;
	color: Gray;
	margin-right: 10px;
	float: right;
	font-size: 12px;
}



#codeViewerContainer .toolbar-button.right, #fancyCodeViewer .toolbar-button.right
{
	background-position: -0px -62px !important;
}

#codeViewerContainer .toolbar-button.right > a, #fancyCodeViewer .toolbar-button.right > a
{
	color: #FFF;
}

#codeViewerContainer .toolbar-button > a, #fancyCodeViewer .toolbar-button > a
{
	line-height: 31px;
}

#codeViewerContainer .toolbar-button > a > img, #fancyCodeViewer .toolbar-button > a > img
{
	margin-right: 5px;
}

#codeViewerContainer .codeview-font-size-ddl, #fancyCodeViewer .codeview-font-size-ddl
{
	height: 22px;
	width: 90px;
}

#codeViewerContainer .toolbar-button > a > span, #fancyCodeViewer .toolbar-button > a > span
{
}

#codeViewerContainer .toolbar-button > a:hover, #fancyCodeViewer .toolbar-button > a:hover
{
	background: url('/samplesbrowser/styles/images/code_tool_bar.png');
	background-position: -0px -31px;
}

#codeViewerContainer .toolbar-button.right > a:hover, #fancyCodeViewer .toolbar-button.right > a:hover
{
	background-position: -0px -93px !important;
}



#codeViewerContainer .right, #fancyCodeViewer .right
{
	float: right !important;
	margin-right: 0px !important;
}

#codeViewerContainer .toolbar-button > a, #fancyCodeViewer .toolbar-button > a
{
	display: block;
	color: Gray;
	line-height: inherit;
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
}

#codeViewerContainer > .body
{
	width: 100%;
	padding-top: 10px;
	height: 391px;
}

#codeViewerContainer > .footer
{
	width: 100%;
	height: 0px;
	background-color: #E5E5E5;
	line-height: 0px;
	font-size: 11px;
	color: Gray;
	display: none;
}

#codeViewerContainer > .footer > span.file-name
{
}

#fancyCodeViewer .body
{
	padding: 5px 30px 5px 5px;
}

.codeViewer
{
	height: 440px;
	border: 0px !important;
}

.syntaxhighlighter
{
	height: 391px;
	overflow: auto !important;
}

.syntaxhighlighter textarea
{
	resize: none !important;
}

.dd-container
{
	margin-top: 15px;
	margin-right: 20px;
}

#codeViewerDropDown
{
	width: 310px;
	height: 30px;
}

#codeViewerContainer dl a, #fancyCodeViewer dl a
{
	text-decoration: none;
	outline: none;
}

#custom-codeViewerDropDown
{
	background: #fff;
	border: 1px solid #CCC;
	height: 28px !important;
}

#custom-codeViewerDropDown dt
{
	line-height: 28px !important;
}

#custom-codeViewerDropDown dt a
{
	line-height: inherit;
}

#codeViewerContainer div.cdd-button, #fancyCodeViewer div.cdd-button
{
	line-height: 28px !important;
	width: 28px !important;
}

#codeViewerContainer dt > a, #fancyCodeViewer dt > a
{
	color: Gray;
	font-size: 12px;
}

#codeViewerContainer dd, #fancyCodeViewer dd
{
	background: #000;
	opacity: 0.85;
	filter: alpha(opacity=85);
	position: absolute;
	z-index: 9999;
	border: 1px solid #CCC;
	display: block;
}

#codeViewerContainer dd > ul, #fancyCodeViewer dd > ul
{
	padding: 0px !important;
	line-height: normal !important;
}

#codeViewerContainer dd > ul > li, #fancyCodeViewer dd > ul > li
{
	margin: 8px 0px 8px 0px;
	line-height: 12px;
}

#codeViewerContainer dd a, #fancyCodeViewer dd a
{
	color: #fff;
	font-size: 12px;
	text-transform: none;
}
#codeViewerContainer dd a:hover, #fancyCodeViewer dd a:hover
{
	color: Gray;
}
/*End Code Viewer*/


#sContainer
{
	/* background-color: #FFF; */
}
#sContainer .sampleLeftSide
{
	width: 250px;
	min-height: 500px;
	float: left;
}
#sContainer .sampleLeftSide > div
{
	height: 100%;
	width: 250px;
}
#sContainer .sampleRightSide
{
	width: 773px;
	min-height: 700px;
	float: left;
}
#sContainer .sampleRightSide .sb-content
{
	margin: 20px 30px 50px 30px;
}
.fixedSamplesContainer
{
	z-index: 99999;
}
.container
{
	/* overflow: hidden !important; */
}

/*sb-Extended-Box*/
#sb-Extended-Box-wrap
{
	z-index: 1101;
	padding: 15px;
}
#sb-Extended-Box-outer
{
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

.sb-Extended-Box-bg
{
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
	display: block;
}

#sb-Extended-Box-close
{
	position: absolute;
	top: -14px;
	right: -13px;
	width: 25px;
	height: 26px;
	background: transparent url('/SamplesBrowser/Styles/images/SB/sb_close.png');
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#sb-Extended-Box-bg-n
{
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('/SamplesBrowser/Styles/images/SB/sbbox-x.png');
}

#sb-Extended-Box-bg-ne
{
	top: -20px;
	right: -20px;
	background-image: url('/SamplesBrowser/Styles/images/SB/sbbox.png');
	background-position: -40px -162px;
}

#sb-Extended-Box-bg-e
{
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('/SamplesBrowser/Styles/images/SB/sbbox-y.png');
	background-position: -20px 0px;
}

#sb-Extended-Box-bg-se
{
	bottom: -20px;
	right: -20px;
	background-image: url('/SamplesBrowser/Styles/images/SB/sbbox.png');
	background-position: -40px -182px;
}

#sb-Extended-Box-bg-s
{
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('/SamplesBrowser/Styles/images/SB/sbbox-x.png');
	background-position: 0px -20px;
}

#sb-Extended-Box-bg-sw
{
	bottom: -20px;
	left: -20px;
	background-image: url('/SamplesBrowser/Styles/images/SB/sbbox.png');
	background-position: -40px -142px;
}

#sb-Extended-Box-bg-w
{
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('/SamplesBrowser/Styles/images/SB/sbbox-y.png');
}

#sb-Extended-Box-bg-nw
{
	top: -20px;
	left: -20px;
	background-image: url('/SamplesBrowser/Styles/images/SB/sbbox.png');
	background-position: -40px -122px;
}

.control-overview-container
{
	width: auto;
	margin-bottom: 15px;
}

div.app-samples .control-overview-container > div.img
{
	float: left;
	text-align: center;
	width: 169px;
	margin-top: 9px;
}

div.samples .control-overview-container > div.img
{
	float: left;
	text-align: center;
	width: 205px;
	margin-top: 9px;
}

#titleContainer
{
	margin-bottom: 15px;
	padding-bottom: 7px;
}

.control-overview-container > div.img > img
{
	vertical-align: middle;
}

div.app-samples .control-overview-container > div.desc
{
	float: left;
	width: 731px;
	margin: 0px 20px;
}

div.samples .control-overview-container > div.desc
{
	float: left;
	width: 710px;
	margin: 0px 20px;
}

.control-overview-container > div > h3
{
	font-weight: normal;
}  
 
div.samples .control-overview-container > div > h3
{
	padding-top:7px;
}

.control-overview-container > div > p
{
	white-space: normal; /*margin:5px 0px 1px 0px;*/
}

.control-logo-container
{
	margin: 0 auto;
	width: 950px;
	overflow: auto;
}
.control-logo-container > img
{
	margin-top: 6px;
}
.control-logo-container > div
{
	margin-left: 30px;
	padding-left: 30px;
	width: 820px;
	border-left: 1px solid black;
}
.control-logo-container > div > h1
{
	border-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.control-logo-container > div > p
{
	margin-bottom: 0px;
}

div.sb-search-box
{
	padding-left: 15px;
	margin-bottom: 15px;
	line-height: normal;
	text-transform: capitalize;
}
div.sb-search-box label
{
	height: 25px !important;
	line-height: 25px !important;
	color: #555 !important;	   
	padding-left: 12px !important;
	margin-top:2px;
}
div.sb-search-box input.sb-search-box-text
{
	width: 206px !important;
	height: 22px;
	line-height: 22px;
	border: 1px solid #d1d1d1;
	width: 217px;
	color: #555555;
	font-size: 11px !important;
	background: #F2F2F2;
	padding-left: 12px !important;
}
ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all
{
	list-style-type: none;
	width: 206px;
	background-color: #3EC2F9;
	opacity: 0.9;
	padding-top: 1px;
	padding-bottom: 1px;
}
ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all > li.ui-menu-item > a
{
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	padding: 3px 12px;
	text-transform: capitalize;
}
ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all > li.ui-menu-item > a:hover
{
	color: #3EC2F9;
	background-color: #FFF;
}
ul.ui-autocomplete.ui-menu.ui-widget.ui-widget-content.ui-corner-all > li.ui-menu-item > a.ui-state-hover
{
	color: #3EC2F9;
	background-color: #FFF;
}
.m10
{
	margin: 10px;
}
.m20
{
	margin: 20px;
}
.m30
{
	margin: 30px;
}
.mt10
{
	margin-top: 10px;
}
.mt20
{
	margin-top: 20px;
}
.sampleRightSide .content
{
	margin: 20px 30px 50px 30px;
}
#nonSLMsg
{
	color: red;
	font-size: 0.8em;
	padding: 10px 50px 0px 50px;
	text-align: center;
	display: none;
}
/*
	Fancybox styles
*/
#fancybox-loading
{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div
{
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('/samplesbrowser/styles/images/fancybox/fancybox.png');
}

#fancybox-overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 99999;
	outline: none;
	display: none;
}

#fancybox-outer
{
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
}

#fancybox-content
{
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close
{
	position: absolute;
	top: -14px;
	right: -13px;
	width: 25px;
	height: 26px;
	background: transparent url('/samplesbrowser/styles/images/fancybox/fancy_close.png');
	cursor: pointer;
	z-index: 1103;
	display: none;
}

#fancybox-error
{
	color: #444;
	font: normal 12px/20px Arial;
	padding: 14px;
	margin: 0;
}

#fancybox-img
{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame
{
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right
{
	position: absolute;
	bottom: 0px;
	height: 100%;
	width: 35%;
	cursor: pointer;
	outline: none;
	background: transparent url('/samplesbrowser/styles/images/fancybox/blank.gif');
	z-index: 1102;
	display: none;
}

#fancybox-left
{
	left: 0px;
}

#fancybox-right
{
	right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico
{
	position: absolute;
	top: 50%;
	left: -9999px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	cursor: pointer;
	z-index: 1102;
	display: block;
}

#fancybox-left-ico
{
	background-image: url('/samplesbrowser/styles/images/fancybox/fancybox.png');
	background-position: -40px -30px;
}

#fancybox-right-ico
{
	background-image: url('/samplesbrowser/styles/images/fancybox/fancybox.png');
	background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover
{
	visibility: visible; /* IE6 */
}

#fancybox-left:hover span
{
	left: 20px;
}

#fancybox-right:hover span
{
	left: auto;
	right: 20px;
}

.fancybox-bg
{
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	width: 20px;
	height: 20px;
	z-index: 1001;
}

#fancybox-bg-n
{
	top: -20px;
	left: 0;
	width: 100%;
	background-image: url('/samplesbrowser/styles/images/fancybox/fancybox-x.png');
}

#fancybox-bg-ne
{
	top: -20px;
	right: -20px;
	background-image: url('/samplesbrowser/styles/images/fancybox/fancybox.png');
	background-position: -40px -162px;
}

#fancybox-bg-e
{
	top: 0;
	right: -20px;
	height: 100%;
	background-image: url('/samplesbrowser/styles/images/fancybox/fancybox-y.png');
	background-position: -20px 0px;
}

#fancybox-bg-se
{
	bottom: -20px;
	right: -20px;
	background-image: url('/samplesbrowser/styles/images/fancybox/fancybox.png');
	background-position: -40px -182px;
}

#fancybox-bg-s
{
	bottom: -20px;
	left: 0;
	width: 100%;
	background-image: url('/samplesbrowser/styles/images/fancybox/fancybox-x.png');
	background-position: 0px -20px;
}

#fancybox-bg-sw
{
	bottom: -20px;
	left: -20px;
	background-image: url('/samplesbrowser/styles/images/fancybox/fancybox.png');
	background-position: -40px -142px;
}

#fancybox-bg-w
{
	top: 0;
	left: -20px;
	height: 100%;
	background-image: url('/samplesbrowser/styles/images/fancybox/fancybox-y.png');
}

#fancybox-bg-nw
{
	top: -20px;
	left: -20px;
	background-image: url('/samplesbrowser/styles/images/fancybox/fancybox.png');
	background-position: -40px -122px;
}

#fancybox-title
{
	font-family: Helvetica;
	font-size: 12px;
	z-index: 1102;
}

.fancybox-title-inside
{
	padding-bottom: 10px;
	text-align: center;
	color: #333;
	background: #fff;
	position: relative;
}

.fancybox-title-outside
{
	padding-top: 10px;
	color: #fff;
}

.fancybox-title-over
{
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFF;
	text-align: left;
}

#fancybox-title-over
{
	padding: 10px;
	background-image: url('/samplesbrowser/styles/images/fancybox/fancy_title_over.png');
	display: block;
}

.fancybox-title-float
{
	position: absolute;
	left: 0;
	bottom: -20px;
	height: 32px;
}

#fancybox-title-float-wrap
{
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td
{
	white-space: nowrap;
}

#fancybox-title-float-left
{
	padding-left: 15px;
	background: url('/samplesbrowser/styles/images/fancybox/fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main
{
	color: #FFF;
	line-height: 29px;
	font-weight: bold;
	padding-bottom: 3px;
	background: url('/samplesbrowser/styles/images/fancybox/fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right
{
	padding-left: 15px;
	background: url('/samplesbrowser/styles/images/fancybox/fancybox.png') -55px -90px no-repeat;
}

/* IE6 */

.fancybox-ie6 #fancybox-close
{
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/samplesbrowser/styles/images/fancybox/fancy_close.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-left-ico
{
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/samplesbrowser/styles/images/fancybox/fancy_nav_left.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-right-ico
{
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/samplesbrowser/styles/images/fancybox/fancy_nav_right.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-title-over
{
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/samplesbrowser/styles/images/fancybox/fancy_title_over.png', sizingMethod='scale');
	zoom: 1;
}
.fancybox-ie6 #fancybox-title-float-left
{
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/samplesbrowser/styles/images/fancybox/fancy_title_left.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-title-float-main
{
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/samplesbrowser/styles/images/fancybox/fancy_title_main.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-title-float-right
{
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/samplesbrowser/styles/images/fancybox/fancy_title_right.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame
{
	height: expression(this.parentNode.clientHeight + "px");
}

#fancybox-loading.fancybox-ie6
{
	position: absolute;
	margin-top: 0;
	top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}

#fancybox-loading.fancybox-ie6 div
{
	background: transparent;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/samplesbrowser/styles/images/fancybox/fancy_loading.png', sizingMethod='scale');
}

/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg
{
	background: transparent !important;
}

.fancybox-ie #fancybox-bg-n
{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/samplesbrowser/styles/images/fancybox/fancy_shadow_n.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-ne
{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/samplesbrowser/styles/images/fancybox/fancy_shadow_ne.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-e
{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/samplesbrowser/styles/images/fancybox/fancy_shadow_e.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-se
{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/samplesbrowser/styles/images/fancybox/fancy_shadow_se.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-s
{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/samplesbrowser/styles/images/fancybox/fancy_shadow_s.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-sw
{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/samplesbrowser/styles/images/fancybox/fancy_shadow_sw.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-w
{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/samplesbrowser/styles/images/fancybox/fancy_shadow_w.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-nw
{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/samplesbrowser/styles/images/fancybox/fancy_shadow_nw.png', sizingMethod='scale');
}
/*
  END Fancybox styles
*/

/*
  Reset Samples Styles
 
*/	

.fixedSamplesContainer p,
.fixedSamplesContainer a,
.fixedSamplesContainer label,
.fixedSamplesContainer ol,
.fixedSamplesContainer ol > li,
.fixedSamplesContainer ul,
.fixedSamplesContainer ul > li
{
	font-size:inherit;	
}