<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
     
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-24.2.20242.53" newVersion="24.2.20242.53" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InfragisticsWPF.DataVisualization" publicKeyToken="7dd5c3163f2cd0cb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-24.2.20242.53" newVersion="24.2.20242.53" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>