<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF" version="18.1.255" targetFramework="net461" />
  <package id="Infragistics.WPF.DataGrids" version="18.1.255" targetFramework="net461" />
  <package id="Infragistics.WPF.Editors" version="18.1.255" targetFramework="net461" />
  <package id="Prism.Core" version="7.0.0.396" targetFramework="net461" />
</packages>