<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF.Charts.Trial" version="24.2.93" targetFramework="net47" />
  <package id="Infragistics.WPF.Controls.Maps.XamMap.Trial" version="24.2.93" targetFramework="net47" />
  <package id="Infragistics.WPF.DataVisualization.Trial" version="24.2.93" targetFramework="net47" />
  <package id="Infragistics.WPF.DragDrop.Trial" version="24.2.93" targetFramework="net47" />
  <package id="Infragistics.WPF.NetworkNode.Trial" version="24.2.93" targetFramework="net47" />
  <package id="Infragistics.WPF.Trial" version="24.2.93" targetFramework="net47" />
</packages>