<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.Documents.Core" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.Excel" version="18.1.82" targetFramework="net45" />
</packages>