<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF.Persistence.Trial" version="25.1.22" targetFramework="net47" />
  <package id="Infragistics.WPF.TileManager.Trial" version="25.1.22" targetFramework="net47" />
  <package id="Infragistics.WPF.Trial" version="25.1.22" targetFramework="net47" />
</packages>
