<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF.SyntaxEditor.Trial" version="25.1.9" targetFramework="net47" />
  <package id="Infragistics.WPF.TextDocument.CSharp.Trial" version="25.1.9" targetFramework="net47" />
  <package id="Infragistics.WPF.TextDocument.Trial" version="25.1.9" targetFramework="net47" />
  <package id="Infragistics.WPF.TextDocument.TSql.Trial" version="25.1.9" targetFramework="net47" />
  <package id="Infragistics.WPF.TextDocument.VisualBasic.Trial" version="25.1.9" targetFramework="net47" />
  <package id="Infragistics.WPF.Trial" version="25.1.9" targetFramework="net47" />
  <package id="Infragistics.WPF.Undo.Trial" version="25.1.9" targetFramework="net47" />
</packages>
