<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF.Charts.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.Controls.Grids.XamXGrid.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.DataVisualization.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.Inputs.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.Layouts.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.Trial" version="25.1.104" targetFramework="net47" />
</packages>