<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF.Charts.Trial" version="24.1.20" targetFramework="net452" />
  <package id="Infragistics.WPF.DataVisualization.Trial" version="24.1.20" targetFramework="net452" />
  <package id="Infragistics.WPF.Inputs.Trial" version="24.1.20" targetFramework="net452" />
  <package id="Infragistics.WPF.Layouts.Trial" version="24.1.20" targetFramework="net452" />
  <package id="Infragistics.WPF.Trial" version="24.1.20" targetFramework="net452" />
</packages>