<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF.Charts.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.DataVisualization.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.Editors.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.FinancialChart.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.Menus.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.ZoomSlider.Trial" version="25.1.104" targetFramework="net47" />
</packages>