<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF" version="17.2.20172.2029" targetFramework="net45" />
  <package id="Infragistics.WPF.DataVisualization" version="17.2.20172.2029" targetFramework="net45" />
  <package id="Infragistics.WPF.DialogWindow" version="17.2.20172.2029" targetFramework="net45" />
  <package id="Infragistics.WPF.Timeline" version="17.2.20172.2029" targetFramework="net45" />
</packages>