<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF.Charts.Trial" version="25.1.22" targetFramework="net47" />
  <package id="Infragistics.WPF.ColorPicker.Trial" version="25.1.22" targetFramework="net47" />
  <package id="Infragistics.WPF.DataVisualization.Trial" version="25.1.22" targetFramework="net47" />
  <package id="Infragistics.WPF.Slider.Trial" version="25.1.22" targetFramework="net47" />
  <package id="Infragistics.WPF.Trial" version="25.1.22" targetFramework="net47" />
</packages>
