<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF.Charts.Olap.Trial" version="23.2.157" targetFramework="net40" />
  <package id="Infragistics.WPF.Charts.Trial" version="23.2.157" targetFramework="net40" />
  <package id="Infragistics.WPF.DataManager.Trial" version="23.2.157" targetFramework="net40" />
  <package id="Infragistics.WPF.DataTree.Trial" version="23.2.157" targetFramework="net40" />
  <package id="Infragistics.WPF.DataVisualization.Trial" version="23.2.157" targetFramework="net40" />
  <package id="Infragistics.WPF.Documents.Core.Trial" version="23.2.157" targetFramework="net40" />
  <package id="Infragistics.WPF.DragDrop.Trial" version="23.2.157" targetFramework="net40" />
  <package id="Infragistics.WPF.Excel.Trial" version="23.2.157" targetFramework="net40" />
  <package id="Infragistics.WPF.Olap.Adomd.Trial" version="23.2.157" targetFramework="net40" />
  <package id="Infragistics.WPF.Olap.Excel.Trial" version="23.2.157" targetFramework="net40" />
  <package id="Infragistics.WPF.Olap.FlatData.Trial" version="23.2.157" targetFramework="net40" />
  <package id="Infragistics.WPF.Olap.Trial" version="23.2.157" targetFramework="net40" />
  <package id="Infragistics.WPF.Olap.Xmla.Trial" version="23.2.157" targetFramework="net40" />
  <package id="Infragistics.WPF.PivotDataSlicer.Trial" version="23.2.157" targetFramework="net40" />
  <package id="Infragistics.WPF.PivotGrid.Trial" version="23.2.157" targetFramework="net40" />
  <package id="Infragistics.WPF.Reporting.Trial" version="23.2.157" targetFramework="net40" />
  <package id="Infragistics.WPF.Trial" version="23.2.157" targetFramework="net40" />
</packages>