/* IE7 specific styles */
					
/* Top Navigation */
.topNavMainContainer > #_topNavPagingIndicator > div > a
{
	padding: 3px 5px;
}
.leftArrrowImg
{
	margin-right: 16px;
}
.topNavControlsContainer
{
}
.topNavMainGroupContainer > h5
{
	padding: 0 0 0 2px;
}
.topNavPrevLink
{
	outline: #2cbdf9 solid 1px;
}
.topNavPrevLink.hidden
{
	outline: #2cbdf9 solid 1px;
}
.topNavNextLink
{
	outline: 0 !important;
}
.topNavNextLink.hidden
{
	outline: 0!imporant;
}
#minimize > span.icon.min
{
	height: 2px;
}
		  		  
/* Left Navigation Menu*/
ul.leftNavLinks>li{white-space:normal;}ul.leftNavLinks a{outline:none;text-decoration:none}ul.leftNavLinks{line-height:normal;}
ul.leftNavLinks.cleanUL{ zoom:1;}

ul.leftNavMenu>li{position: relative;}
ul.leftNavMenu div.leftMenuPanel{position: relative; zoom: 1;}

/* Application Samples */
#sContainer > div.content_area > h2
{
	padding-top:20px;	
}
#descriptionContainer
{
	zoom:1;
}