<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF.DialogWindow.Trial" version="24.2.36" targetFramework="net40" />
  <package id="Infragistics.WPF.Persistence.Trial" version="24.2.36" targetFramework="net40" />
  <package id="Infragistics.WPF.TileManager.Trial" version="24.2.36" targetFramework="net40" />
  <package id="Infragistics.WPF.Trial" version="24.2.36" targetFramework="net40" />
</packages>
