<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="Infragistics.WPF" version="17.2.20172.2029" targetFramework="net45" />
  <package id="Infragistics.WPF.ColorPicker" version="17.2.20172.2029" targetFramework="net45" />
  <package id="Infragistics.WPF.Editors" version="17.2.20172.2029" targetFramework="net45" />
  <package id="Infragistics.WPF.Menus" version="17.2.20172.2029" targetFramework="net45" />
  <package id="Infragistics.WPF.Ribbon" version="17.2.20172.2029" targetFramework="net45" />
  <package id="Infragistics.WPF.RichTextDocument" version="17.2.20172.2029" targetFramework="net45" />
  <package id="Infragistics.WPF.RichTextEditor" version="17.2.20172.2029" targetFramework="net45" />
  <package id="Infragistics.WPF.Slider" version="17.2.20172.2029" targetFramework="net45" />
  <package id="Infragistics.WPF.Undo" version="17.2.20172.2029" targetFramework="net45" />
  <package id="Prism.Core" version="6.3.0" targetFramework="net45" />
  <package id="Prism.Wpf" version="6.3.0" targetFramework="net45" />
  <package id="Unity" version="4.0.1" targetFramework="net45" />
</packages>