/* Top navigation fix */
.product_icon
{
	line-height:17px !important;
}
.clearfix
{
    zoom: 1; /* triggers hasLayout */
}
DIV.widget
{
    width: auto !important; /* Pagebuilder IE8 Compatibility view widget fix. */
}
.menu_sub
{
    background: #fff;
    /*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/menu_bg.png', sizingMethod='scale');        */
}
#message_box, #money_shot_message, #money_shot_message_sm
{
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/images/messagebar_background.png', sizingMethod='scale');    
}
#message_box
{
    overflow: auto;
}

#forumsSearchTextBox
{
    height: 31px !important;
    width: 387px !important;
    border-bottom: 0px; 
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
}

.content_row
{
    zoom: 1; /* triggers hasLayout */
}

.newsbar-carousel ul li
{
	margin-top: -2px!important;
}
