<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <MapImagerySources>
    <MapImagery IsDefault="false" IsEnabled="true"  MapSource="BingMapImagery" MapKey="Aj2inbXEmvSbAbbVUKH1-DWlUeWIGjFTY3K2K8d1lqE5mEwI3_1oFX2U2tqONiHF" />
    <MapImagery IsDefault="true"  IsEnabled="true"  MapSource="EsriMapImagery" MapKey="" />
    <MapImagery IsDefault="false" IsEnabled="false" MapSource="CloudMadeMapImagery" MapKey="a66373ac35ad5a2195f1b68cafb5255b" />
    <MapImagery IsDefault="false" IsEnabled="false" MapSource="MapQuestImagery" MapKey="" />
    <MapImagery IsDefault="false" IsEnabled="true"  MapSource="OpenStreetMapImagery" MapKey="" />
    <!-- IsDefault - specifies whether or not the current map imagery is set as default imagery of the Geographic Map control in the application-->
    <!-- IsEnabled - specifies whether or not the current map imagery is enabled in the Geographic Map control and visible in the application-->
    <!-- MapSource - specifies the name of map imagery: OpenStreetMapImagery, EsriMapImagery, BingMapImagery, CloudMadeMapImagery, MapQuestImagery-->
    <!-- MapKey    - specifies the map key required for some imagery sources, e.g. BingMapImagery, CloudMadeMapImagery-->
    <!-- NOTE: Missing map keys for an imagery source that requires maps keys will disable the imagery and hide it in the application-->
    <!-- NOTE: Developers must obtain their own map keys from websites provided below and use them in this configuration or 
    directly with imagery tile providers of the Geographic Map control in their applications: 
    for Cloud Made Map imagery, visit http://maps.cloudmade.com
    for Bing Map imagery, visit http://www.bingmapsportal.com
    -->
    <!-- WARNING: Using map keys from this configuration file in applications other than Infragistics samples/showcase apps
	might cause slow performance of the Geographic Map control due to limitation of acquiring imagery tiles 
    because they are reserved for Infragistics samples and showcase applications. 
    -->
  </MapImagerySources>
</Configuration>

