<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.Charts" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.Controls.Maps.XamMap" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.DataVisualization" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.DialogWindow" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.Documents.Core" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.Excel" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.GeographicMap" version="18.1.82" targetFramework="net45" />
  <package id="Infragistics.WPF.Slider" version="18.1.82" targetFramework="net45" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net45" />
  <package id="WPFToolkit.DataVisualization" version="3.5.50211.1" targetFramework="net45" />
</packages>