<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF.Themes.IG.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.Themes.Metro.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.Themes.MetroDark.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.Themes.Office2010Blue.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.Themes.Office2013.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.Themes.RoyalDark.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.Themes.RoyalLight.Trial" version="25.1.104" targetFramework="net47" />
  <package id="Infragistics.WPF.Trial" version="25.1.104" targetFramework="net47" />
</packages>
