<?xml version="1.0" encoding="utf-8" ?>
<NetAdvantageForThemesConfigs path="C:\Work\NetAdvantage\DEV\XAML"
                              tfsPath="$/NetAdvantage/Dev/XAML">
  <Version version="2013.2"
           themePath="Source/Themes">
    <SamplesBrowser name="WPF"
                    path="Samples\XAML\Infragistics.Themes\WPF"/>
    <SamplesBrowser name="SL"
                    path="Samples\XAML\Infragistics.Themes\SL"/>
    <SamplesBrowser name="Common"
                    path="Samples\XAML\Infragistics.Themes\Common"/>			
  </Version>
</NetAdvantageForThemesConfigs>
