<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF.CalculationManager.Trial" version="25.1.9" targetFramework="net47" />
  <package id="Infragistics.WPF.DataGrids.Calculation.Trial" version="25.1.9" targetFramework="net47" />
  <package id="Infragistics.WPF.DataGrids.Trial" version="25.1.9" targetFramework="net47" />
  <package id="Infragistics.WPF.Editors.Trial" version="25.1.9" targetFramework="net47" />
  <package id="Infragistics.WPF.Trial" version="25.1.9" targetFramework="net47" />
</packages>
