<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF.DataManager.Trial" version="25.1.7" targetFramework="net47" />
  <package id="Infragistics.WPF.DataTree.Trial" version="25.1.7" targetFramework="net47" />
  <package id="Infragistics.WPF.Documents.Core.Trial" version="25.1.7" targetFramework="net47" />
  <package id="Infragistics.WPF.DragDrop.Trial" version="25.1.7" targetFramework="net47" />
  <package id="Infragistics.WPF.Menus.Trial" version="25.1.7" targetFramework="net47" />
  <package id="Infragistics.WPF.RichTextDocument.Html.Trial" version="25.1.7" targetFramework="net47" />
  <package id="Infragistics.WPF.RichTextDocument.Rtf.Trial" version="25.1.7" targetFramework="net47" />
  <package id="Infragistics.WPF.RichTextDocument.Trial" version="25.1.7" targetFramework="net47" />
  <package id="Infragistics.WPF.RichTextDocument.Word.Trial" version="25.1.7" targetFramework="net47" />
  <package id="Infragistics.WPF.RichTextEditor.Trial" version="25.1.7" targetFramework="net47" />
  <package id="Infragistics.WPF.Trial" version="25.1.7" targetFramework="net47" />
  <package id="Infragistics.WPF.Undo.Trial" version="25.1.7" targetFramework="net47" />
</packages>
