<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF.TextDocument.Trial" version="24.2.93" targetFramework="net47" />
  <package id="Infragistics.WPF.Trial" version="24.2.93" targetFramework="net47" />
  <package id="Infragistics.WPF.Undo.Trial" version="24.2.93" targetFramework="net47" />
</packages>