<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.WPF.Charts.Olap.Trial" version="26.1.14" targetFramework="net47" />
  <package id="Infragistics.WPF.Charts.Trial" version="26.1.14" targetFramework="net47" />
  <package id="Infragistics.WPF.ColorPicker.Trial" version="26.1.14" targetFramework="net47" />
  <package id="Infragistics.WPF.DataManager.Trial" version="26.1.14" targetFramework="net47" />
  <package id="Infragistics.WPF.DataTree.Trial" version="26.1.14" targetFramework="net47" />
  <package id="Infragistics.WPF.DataVisualization.Trial" version="26.1.14" targetFramework="net47" />
  <package id="Infragistics.WPF.DragDrop.Trial" version="26.1.14" targetFramework="net47" />
  <package id="Infragistics.WPF.Inputs.Trial" version="26.1.14" targetFramework="net47" />
  <package id="Infragistics.WPF.Layouts.Trial" version="26.1.14" targetFramework="net47" />
  <package id="Infragistics.WPF.Math.Calculators.Trial" version="26.1.14" targetFramework="net47" />
  <package id="Infragistics.WPF.Math.Trial" version="26.1.14" targetFramework="net47" />
  <package id="Infragistics.WPF.Olap.FlatData.Trial" version="26.1.14" targetFramework="net47" />
  <package id="Infragistics.WPF.Olap.Trial" version="26.1.14" targetFramework="net47" />
  <package id="Infragistics.WPF.PivotGrid.Trial" version="26.1.14" targetFramework="net47" />
  <package id="Infragistics.WPF.Slider.Trial" version="26.1.14" targetFramework="net47" />
  <package id="Infragistics.WPF.TileManager.Trial" version="26.1.14" targetFramework="net47" />
  <package id="Infragistics.WPF.Trial" version="26.1.14" targetFramework="net47" />
  <package id="Markdig" version="0.43.0" targetFramework="net47" />
  <package id="Microsoft.Web.WebView2" version="1.0.3595.46" targetFramework="net47" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net47" />
  <package id="System.Memory" version="4.6.0" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net47" />
</packages>
